.cont {
  width: 100%;
  margin: auto;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
.navbar .nav-link {
    color: red;
}
section {
    margin-top: 50px;
}
.hr { 
width: 50%;
border-radius: 50px;
height: 3px;
background-color: salmon;
margin: auto;
}
#about  {
    background-color: rgb(224, 208, 201);
}
#Gallary {
    background-color: rgb(224, 208, 201);
}
.nav-tabs .nav-link {
    text-align: center;
}
#Contact {
    background-color: rgb(224, 208, 201);
}
#footer {
    background-color: rgb(224, 208, 201);
}